.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.title {
  font-size: 18px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: green;
  font-size: 12px;
  font-weight: bold;
}

.button {
  display: flex;
  background: none;
  border: none;
}

.description {
  font-size: 14px;
  min-height: 80px;
  color: #333;
}