.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.title {
  font-size: 18px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  background: none;
  border: none;
}

.description {
  min-height: 80px;
}